{% extends 'layout.html' %}

{% block title %}Position{% endblock %}

{% block content %}
    <main>
        <div class="head">
            <h1>Position</h1>
        </div>

        <div class="itemGroup">
            {% for position in positions %}
                <div class="item">
                    <div>{{ position.id }}. {{ position.name }}</div>
                    <div class="action">{{ position.employee_count }} People</div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}