{% extends 'layout.html' %}
{% load static %}


{% block title %}Project {project.id} Details{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Project Detail</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form }}
                </div>
                <br>
                <button type="submit">Save</button>
            </form>
        </div>

        <br/>

        <div>
            <div class="head">
                <h2>Employee in this project</h2>

                {#                <div class="action">#}
                {#                    <div id="add-staff">#}
                {#                        <input type="text" name="emp_id" id="input-add-staff" placeholder="EMPLOYEE ID">#}
                {#                        <button type="submit" onclick="addStaff(document.getElementById('input-add-staff'),`#}
                {#                                {% url 'project' %}{{ project.id }}/add_user`, '{{ csrf_token }}')">ADD#}
                {#                        </button>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="itemGroup">
                {% for  staff in project.staff.all %}
                    <div class="item">
                        <!-- id ของพนักงาน ชื่อ นามสกุล -->
                        <div>{{ staff.id }}. {{ staff.first_name }} {{ staff.last_name }}</div>

                        <!-- position name -->
                        <div>{{ staff.position.name }}</div>
                        <div class="action">

                            <!-- function removeStaff ให้ส่ง id ของพนักงาน เช่น removeStaff(Number('{{ staff.id }}'))-->
                            <button type="submit" class="delete" onclick="removeStaff({{ staff.id }},
                                    '{% url 'project' %}{{ project.id }}/remove_user/', '{{ csrf_token }}')">Kick this
                                Staff
                            </button>

                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'manage_staff.js' %}"></script>
{% endblock %}
