{% extends 'layout.html' %}

{% block title %}Project{% endblock %}

{% block content %}
    <main>
        <div class="head">
            <h1>Project</h1>
        </div>

        <div class="itemGroup">
            <div>
                <br>
                <!-- กำหนด path ไปยังหน้า form สร้าง project -->
                <a href="{% url 'new_project' %}">
                    <button class="newemp" onclick="">New Project</button>
                </a>
            </div>
            {% for project in projects %}
                <div class="item">
                    <!-- โปรเจค id และ ชื่อ -->
                    <div>{{ project.id }}.{{ project.name }}</div>

                    <!-- วันเริ่ม และ วันกำหนดส่งโปรเจค -->
                    <div>{{ project.start_date }} - {{ project.due_date }}</div>

                    <div class="action">
                        <!-- กำหนด path ให้ถูกต้อง -->
                        <a href="{% url 'project_details' project.id %}" class="edit btn">แก้ไข</a>

                        <!-- ถ้า code มันแจ้งเตือนอะไรก็ปล่อยไปนะครับไม่มีผลอะไร  -->
                        <button type="submit" onclick="deleteProject({{ project.id }},
                                '{% url 'project' %}{{ project.id }}/delete_project/', '{{ csrf_token }}')"
                                class="delete">
                            Delete
                        </button>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}