{% extends 'layout.html' %}
{% load humanize %}

{% block title %}Employee{% endblock %}

{% block content %}
    <main>
        <div class="head">
            <h1>Employee</h1>
            <div>
                <!-- จำนวนพนักงานทั้งหมด -->
                <h1>Total {{ total_employees }} People</h1>
            </div>
            <a href="{% url 'new_employee' %}" class="btn btn-primary">
            <button class="newemp">New Employee</button>
        </a>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Genger</th>
                <th>Birth Date</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees|dictsort:"hire_date" %}
                <tr {% if forloop.first or forloop.last %} style="color: red;" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td>
                        {% if employee.gender == 'M' %}
                            Male
                        {% elif employee.gender == 'F' %}
                            Female
                        {% else %}
                            Other
                        {% endif %}
                    </td>
                    <td>{{ employee.birth_date|date:"d/m/Y" }}</td>
                    <td>{{ employee.hire_date|date:"d/m/Y" }}</td>
                    <td>{{ employee.salary|intcomma }}</td>
                    <td>{{ employee.position.department.name }}</td>
                    <td>{{ employee.position.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No employees found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}